[Match]
Name = br0.{{ item.name }}

[Network]
Address = {{ item.address }}/{{ item.mask }}
LinkLocalAddressing = no
IPv6AcceptRA = no

[RoutingPolicyRule]
From = {{ item.address }}/32
Table = {{ item.id }}
Priority = {{ item.id }}

[Route]
Gateway = {{ item.gateway }}
Table = {{ item.id }}
Metric = 45

[Route]
Destination = {{ item.network }}/{{ item.mask }}
Table = {{ item.id }}
Metric = 45
